<div class="container">
    <div class="top-bar">
        <span>9 items</span>
    </div>

   <main class="product-grid">
    {% for product in products %}
        <a href="{% url "product-detail" product.slug%}" class="product-card">
            <div class="image-container">
                <img src="{{ product.main_image.url }}" alt="Roots Tee - Light Blue">
            </div>
            <div class="product-info">
                <h3 class="product-name">{{ product.title }}</h3>
                <div class="product-price">{{ product.price }}</div>
            </div>
        </a>
        {% endfor %}
    </main>
